:root{
    --main-color:#6305aa; /*#07252d, antes #8900f2*/
    --text-color:#010808;
    --text-color-blanco:#ffffff;

}
*{ 
    margin: 0px;
    padding: 0px;
    
}
body{
   
    background-color: #fafafa;
    font-family: 'Open Sans', sans-serif;
    /*overflow-x: hidden;*/
   
}
section{
    width: 100%;
    height: 100vh;
    display: flex;

}
.card {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
                -15px -15px 30px #ffffff;
   }
.primero{
    width:  65%;
    height: 100%;
    background: #333469;
    flex-direction: row;
    
} 

canvas {
    display: block;
    /*vertical-align: bottom;*/
  } /* ---- particles.js container ---- */
#particles-js {
    /*position: absolute;*/
    background-color: #fafafa;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  } /* ---- stats.js ---- */
.segundo{
    width: 35%;
    /*height: 100%;*/
    background: #333D29;
    display: flex;
    align-items: center;
    

}
/*Boron notificacion*/
/*button{
    position: relative;
    display: block;
    width: 150px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
}*/
.conten{
    position: absolute;
    bottom: 10px;
   
}
/*--------------------notificacion de barra---------------------*/
.notEmail{
    
    display: none;
    position: relative;
    width: 320px;
    height: 90px;
    margin-bottom: 5px;
    background-color: #ffffff;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.5);
    box-sizing: border-box;
    overflow: hidden; 
-webkit-border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
    
-webkit-box-shadow: 9px 5px 7px 0 rgba(0,0,0,0.3);
box-shadow: 9px 5px 7px 0 rgba(0,0,0,0.3);
    
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  opacity:1;
  animation-delay:0s;
}
.mensaje_not{
    float: left;
    width: 60%;
    height: 100%;
    text-align: center;
    line-height: 90px;
    font-size: 0.9em;
}
.notEmail>img{
    float: right;
    height: 100%;
    background-size: contain;
    
}
@keyframes slideIn{
  0%   {margin-left: 300px; opacity:0;}
  100% {margin-left: -0px; opacity:1;}
}




/*-------------------------Input,buttonNeon-------------------*/
#entrar{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    /*margin-top: 30%;*/
    /*margin-bottom: 10%;*/
    margin-left: 10%;
    margin-right: 10%;
    
    
}
#entrar input{
    width: 100%;
}
#entrar .cuadrousuario{
    margin-bottom: 15%;
}
#entrar .cuadrosugerencias {
    width: 100%;
    height: 5%;
    display: flex;
}
#entrar .cuadrosugerencias p{
    font-size: 0.6em;
    /*float: left;*/
}
/*#entrar .cuadrosugerencias .parrafoprincipal{
    margin-right: 8%;
}*/

.cuadrosugerencias  .registro {
    
    color: #936639;

}
.cuadrosugerencias  .pass{
    color: #C2C5AA;
}
p{
    color: #C2C5AA;
}

h2{
    font-size: 1.4em;
    margin-bottom: 15%;
    color: #A4AC86;
    text-align: center;
}
h3{
    font-size: 1.2em;
    margin-bottom: 2%;
    color: #C2C5AA;

}

.form{
    width: 100%;
    height: 55px;
    /*max-width: 400px;*/
    position: relative;
    overflow: hidden;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: rgb(255, 255, 255);
    padding-top: 10px;
    border: none;
    outline: 0px;
}
.form .lbl-nombre{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 2px solid #B6AD90;
}
.form .lbl-nombre:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #936639;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #646A45;
}
.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-150%);
    font-size: 14px;
    color: #936639;/*#2ecece*/
}
.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
    transform: translateX(0%);
}
@media only screen and (min-width:320px) and (max-width:768px){
 .form{
    width:85%;
}
    }
button{
    margin-top: 15%;
    margin-bottom: 5%;
    background-color: #936639;
    width: 100%;
    height: 15%;
}



.btn-neon{
    width: 100%;
    margin-top: 15%;
    margin-bottom: 5%;
    position: relative;
    display: inline-block;
    background-color: rgb(147, 102, 57,0.2);
    padding: 23px 0px;
    color: #C2C5A8;
    letter-spacing: 4px;
    text-decoration: none;
    /*font-size: 24px;*/
    overflow: hidden;
    transition: 0.2s;
    text-align: center;
}
.btn-neon:hover{
    background: #936639;/*#a945c7*/
    box-shadow: 0 0 10px #936639, 0 0 40px #936639, 0 0 80px #936639;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#936639);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#936639);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#936639);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#936639);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/**/
.p-iz{
    width: 50%;
    height: 100%;
    /*background-color: #1d2004;*/

}
.p-de{
    width: 50%;
    height: 100%;
    /*background-color: #a7bb13;*/
    

}
.p-de .parrafosegundo{
    text-align: right;
}




#parteIzInicio{
background-color:#333D29;
left: 66%;

bottom: 0%;
width: 464px; /*464px*/
height: 100%;  /*100%*/
position: absolute;
/*z-index: 5;*/

}

/*ANIMACIONES*/


@keyframes cowLogin{
    4%{
        width: 0%;/**/
        height: 100%;
        position: absolute;        

    }
   
    100%{
        width: 65%;/**/
        height: 100%;
        position: absolute;

    }



}

