@media (max-width: 1050px){
    body{
        background: #ffffff;
    }
    section {

        display: flex;
        width: 100%;
        height: auto;
        
        
        
        
        /*position: relative;*/
       /*overflow-x:scroll;*/
         /*background: #333D29;*/
        
        
        flex-direction: column;
        /*align-items: center;*/
        
        
        /*padding: 100px 20vw;*/
        
        
    }
    
    .primero{
        display: none;
        
    } 
     
    .segundo{
        width: 100%;
        
        background: #333D29;
        display: flex;
        align-items: center;
    
    }
    #entrar{
        display: flex;
        flex-direction: column;
        width: 80%;
       
        margin-top: 20%;/**/
        margin-bottom: 10%;/**/
        margin-left: 10%;
        margin-right: 10%;
        
    }
    .form{
        width: 100%;
        height: 3.75em;
        /*max-width: 400px;*/
        position: relative;
        overflow: hidden;
        
    }
   


}
@media (max-width: 650px){
    body{
        background: #ffffff;
    }
    section {

        display: flex;
        width: 100%;
        
        
        
        
        /*position: relative;*/
       /*overflow-x:scroll;*/
         /*background: #333D29;*/
        
        
        flex-direction: column;
        /*align-items: center;*/
        
        
        /*padding: 100px 20vw;*/
        
        
    }
   
    .primero{
        display: none;
        
    } 
     
    .segundo{
        width: 100%;
        
        background: #333D29;
        display: flex;
        align-items: center;
    
    }
    #entrar{
        display: flex;
        flex-direction: column;
        width: 80%;
        
        margin-top: 20%;/**/
        margin-bottom: 10%;/**/
        margin-left: 10%;
        margin-right: 10%;
        
    }
    .form{
        width: 100%;
        height: 3.75em;
        /*max-width: 400px;*/
        position: relative;
        overflow: hidden;
        
    }


}    